.App {      
   
      text-align: center;      
   
    }      
  
    .navheader{      
  
      margin-top: 10px;      
  
      color :black !important;      
   
      background-color: #b3beca!important      
  
    } 
    .PageHeading      
    {      
    
      margin-top: 10px;      
    
      margin-bottom: 10px;      
    
      color :black !important;      
   
    }